@font-face {
  font-family: "heading";
  src: url("../fonts/Gotham-Book.ttf");
}

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #191919;
}

/* Fonts
------------------------------------------------ */

h1 {
	font-family: "heading", Georgia, sans-serif;
	font-size: 36px;
	line-height: 46px;
	margin-bottom: 20px;
	letter-spacing: -1px;
	padding-bottom: 10px;
	border-bottom: 1px dashed #BFBFBF;
	color: #333;
} 

h2 {
	font-family: "heading", Georgia, sans-serif;
	font-size: 24px;
	margin-top: 30px;
	margin-bottom: 10px;
	letter-spacing: -1px;
}

h3 {
	font-family: "heading", Georgia, sans-serif;
	font-size: 18px;
	margin-top: 30px;
	margin-bottom: 10px;
}

p {
	line-height: 20px;
	margin-bottom: 20px;
}

a {
	color: #1F3C99;
}

/* Header
------------------------------------------------ */

/* Hide chapter name in table */

header table tr:first-child {
	display: none;
}

header hr {
	display: none;
}

header table a {
	position: fixed;
	top: 10px;
	display: block;
	background-color: #333;
	padding: 7px 15px;
	color: #FFF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-decoration: none;
	font-size: 12px;
}

header table a[accesskey="p"] {
	left: 10px;
}

header table a[accesskey="n"] {
	right: 10px;
}

/* Search
------------------------------------------------ */

/* Hide search for now */

#search-form {
	display: none;
}

/* Main Sections
------------------------------------------------ */

section, .book .titlepage, .book .toc {
	position: relative;
	margin: 0 auto;
	width: 600px;
	padding: 60px 80px 20px 80px;
	background-color: #FFF;
	border-right: 1px dashed #D8D8D8;
	border-left: 1px dashed #D8D8D8;
}

/* Title Page
------------------------------------------------ */

.book .titlepage h1 {
	margin-bottom: 30px;
}

.book .titlepage .author h3, .titlepage .othercredit h3 {
	margin-top: 0px;
}

.book .titlepage .othercredit h3 {
	font-size: 13px;
	font-family: Verdana, Helvetica, sans-serif;
}

.book .titlepage .copyright {
	cursor: pointer;
}

.book .titlepage .legalnotice, .titlepage .revhistory {
	display: none;
}

.book .titlepage .legalnotice p {
	font-size: 11px;
	margin-bottom: 15px;
}

.book .titlepage hr {
	display: none;
}

.book .titlepage .revhistory {
	font-size: 10px;
	color: #999;
	line-height: 16px;
}

.book .toc {
	padding-top: 0px;
}

.book .toc-title {
	font-family: "heading", Georgia, sans-serif;
	font-size: 18px;
	margin-bottom: 20px;
}

/* Blockquotes
------------------------------------------------ */

.preface div.blockquote {
	margin-top: 40px;
}

.blockquote tr td:first-child {
	display: none;
}

.blockquote p {
	font-style: italic;
	margin-bottom: 10px;
}

.blockquote .attribution {
	display: block;
	text-align: left;
	font-family: "heading", Georgia, sans-serif;
	font-size: 14px;
	line-height: 20px;
}

/* Images
------------------------------------------------ */

img {
	max-width: 100%;
}

.figure {
	margin-bottom: 20px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	border: 1px dashed #D8D8D8;
	margin-left: -15px;
	margin-right: -15px;
	padding: 15px 50px 5px 15px;
}

.figure-title {
	font-size: 12px;
	font-style: italic;
	letter-spacing: 0.5px;
	padding: 6px 0px 0px 0px;
	line-height: 20px;
}

/* Lists
------------------------------------------------ */

ol, ul {
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 20px;
}

ol li, ul li {
	margin-bottom: 8px;
	line-height: 18px;
}

ol {
	list-style: disc;
}

ul {
	list-style: decimal;
}

ol ol, ul ul {
	margin-top: 10px;
}

/* Pre
------------------------------------------------ */

pre {
	margin-left: -15px;
	margin-right: -15px;
	padding: 15px;
	background-color: #333;
	color: #FFF;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin-bottom: 20px;
}

/* Basic Boxes
------------------------------------------------ */

.tip, .note, .sidebar, .processingjslive {
	padding: 15px 20px;
	margin-bottom: 20px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin-left: -15px;
	margin-right: -15px;
	position: relative;
	background-color: #EDEDED;
	border: 1px dashed #BFBFBF;
}

.tip .title, .note .title, .sidebar .sidebar-title {
	margin-top: 0px;
	font-size: 15px;
	padding-bottom: 10px;
	border-bottom: 1px solid #E5E5E5;
}

.tip p:last-child,
.note p:last-child,
.sidebar p:last-child {
	margin-bottom: 0px;
}

/* Tip Box
------------------------------------------------ */

.tip {
	/* Add icons or something in the top left corner instead of color */
/*	background-color: #f3f4f4;*/
}

/* Note Box
------------------------------------------------ */

.note {
/*	background-color: #faf7da;*/
}

/* Sidebar Box
------------------------------------------------ */

.sidebar .sidebar-title {
	margin-bottom: 10px;
}

/* Footnotes
------------------------------------------------ */

.footnotes {
	margin-top: 30px;
}

.footnotes hr {
	display: none;
}

.footnotes .footnote a {
	display: inline-block;
	margin-right: 10px;
}

/* Footer
------------------------------------------------ */

footer {
	display: none;
}

/* Comments
------------------------------------------------ */

form#new_comment {
	margin: 0 auto;
	width: 600px;
	padding: 0px 80px 20px 80px;
	border-right: 1px dashed #D8D8D8;
	border-left: 1px dashed #D8D8D8;
}

form#new_comment textarea {
	width: 100%;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	border: 1px dashed #BFBFBF;
	padding: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 150px;
}

form#new_comment input[type="submit"] {
	background-color: #333;
	color: #FFF;
	border: none;
	padding: 8px 15px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-family: Verdana;
	font-size: 11px;
	margin-top: 10px;
}

/* Processing JS Live Coding
------------------------------------------------ */

.processingjslive {
	position: relative;
	margin-top: 40px;
	margin-bottom: 40px;
}

.processingjslive textarea {
	font-family: "Consolas", "Monaco", 'Liberation Mono', Courier, monospace;
	display: block;
	resize: vertical;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	width: 100%;
	padding: 10px;
	height: 150px;
	border: 1px dashed #CCC;
	font-size: 12px;
	margin-bottom: 10px;
}

.processingjslive canvas {
	display: block;
	margin: 0 auto;
}

.processingjslive .title {
	margin-top: 0px;
	font-size: 15px;
}

.processingjslive a.processing-runit {
	background-color: #333;
	color: #FFF;
	display: inline-block;
	position: absolute;
	top: 10px;
	right: 20px;
	display: block;
	padding: 5px 15px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-decoration: none;
	font-size: 12px;
}