@font-face {
  font-family: "heading";
  src: url("http://orm-social-book-dev.s3.amazonaws.com/templates/rune/Gotham-Book.ttf");
}

/* box model reset */

* { 
-moz-box-sizing: border-box; 
-webkit-box-sizing: border-box; 
box-sizing: border-box; 
}

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #191919;
}

header {
	height: 0px;
	overflow: hidden;
}

/* Fonts
------------------------------------------------ */

h1 {
	font-family: "heading", Georgia, sans-serif;
	font-size: 36px;
	line-height: 46px;
	margin-bottom: 20px;
	letter-spacing: -1px;
	padding-bottom: 10px;
	border-bottom: 1px dashed #BFBFBF;
	color: #333;
} 

h2 {
	font-family: "heading", Georgia, sans-serif;
	font-size: 24px;
	margin-top: 30px;
	margin-bottom: 10px;
	letter-spacing: -1px;
}

h3 {
	font-family: "heading", Georgia, sans-serif;
	font-size: 18px;
	margin-top: 30px;
	margin-bottom: 10px;
}

p {
	line-height: 20px;
	margin-bottom: 20px;
}

a {
	color: #1F3C99;
}

/* Header
------------------------------------------------ */

/* Hide chapter name in table */

header table tr:first-child {
	display: none;
}

header hr {
	display: none;
}

header table a {
	position: fixed;
	top: 50px;
	display: block;
	background-color: #D8D8D8;
	padding: 7px 15px;
	color: #FFF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-decoration: none;
	font-size: 12px;
}

header table a[accesskey="p"] {
	left: 10px;
}

header table a[accesskey="n"] {
	right: 10px;
}


/* Main Sections
------------------------------------------------ */

section, .book .titlepage, .book .toc {
	position: relative;
	margin: 0 0 0 70px;
	width: 600px;
	padding: 60px 80px 20px 40px;
	background-color: #FFF;
	border-right: 0px dashed #D8D8D8;
	border-left: 1px solid #D8D8D8;
}

/* Title Page
------------------------------------------------ */

.book .titlepage h1 {
	margin-bottom: 30px;
}

.book .titlepage .author h3, .titlepage .othercredit h3 {
	margin-top: 0px;
}

.book .titlepage .othercredit h3 {
	font-size: 13px;
	font-family: Verdana, Helvetica, sans-serif;
}

.book .titlepage .copyright {
	cursor: pointer;
}

.book .titlepage .legalnotice, .titlepage .revhistory {
	display: none;
}

.book .titlepage .legalnotice p {
	font-size: 11px;
	margin-bottom: 15px;
}

.book .titlepage hr {
	display: none;
}

.book .titlepage .revhistory {
	font-size: 10px;
	color: #999;
	line-height: 16px;
}

.book .toc {
	padding-top: 0px;
}

.book .toc-title {
	font-family: "heading", Georgia, sans-serif;
	font-size: 18px;
	margin-bottom: 20px;
}

/* Blockquotes
------------------------------------------------ */

.preface div.blockquote {
	margin-top: 40px;
}

div.blockquote {
	margin: 0 50px 0 50px;
}

.blockquote tr td:first-child {
	display: none;
}

table.blockquote tr:last-of-type {
	text-align: right;
}

.blockquote p {
	font-style: italic;
	margin-bottom: 10px;
}

.blockquote .attribution {
}

/* Images
------------------------------------------------ */

img {
	max-width: 100%;
}

.figure {
	margin-bottom: 20px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	border: 1px dashed #D8D8D8;
	margin-left: -15px;
	margin-right: -15px;
	padding: 15px 50px 5px 15px;
}

.figure-title {
	font-size: 12px;
	font-style: italic;
	letter-spacing: 0.5px;
	padding: 6px 0px 0px 0px;
	line-height: 20px;
}

/* Lists
------------------------------------------------ */

ol, ul {
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 20px;
}

ol li, ul li {
	margin-bottom: 8px;
	line-height: 18px;
}

ol {
	list-style: decimal;
}

ul {
	list-style: disc;
}

ol ol, ul ul {
	margin-top: 10px;
}

div.variablelist dt {
	font-style: italic;
	margin-bottom: 2px;
}

div.variablelist dd {
	margin-bottom: 6px;
}

/* Pre
------------------------------------------------ */

pre {
	margin-left: -15px;
	margin-right: -15px;
	padding: 15px;
	background-color: #333;
	color: #FFF;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin-bottom: 20px;
	overflow-x: scroll;
}

/* Example Titles
------------------------------------------------ */

div.example-title {
	font-style: italic;
}

/* Basic Boxes
------------------------------------------------ */

.tip, .note, .sidebar, .processingjslive {
	padding: 15px 20px;
	margin-bottom: 20px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin-left: -15px;
	margin-right: -15px;
	position: relative;
	background-color: #EDEDED;
	border: 1px dashed #BFBFBF;
}

.tip .title, .note .title, .sidebar .sidebar-title {
	margin-top: 0px;
	font-size: 15px;
	padding-bottom: 10px;
	border-bottom: 1px solid #E5E5E5;
}

.tip p:last-child,
.note p:last-child,
.sidebar p:last-child {
	margin-bottom: 0px;
}

/* Tip Box
------------------------------------------------ */

.tip {
	/* Add icons or something in the top left corner instead of color */
/*	background-color: #f3f4f4;*/
}

/* Note Box
------------------------------------------------ */

.note {
/*	background-color: #faf7da;*/
}

/* Sidebar Box
------------------------------------------------ */

.sidebar .sidebar-title {
	margin-bottom: 10px;
}

/* Tables
------------------------------------------------ */

div.table table thead tr {
	border-bottom: 2px solid #D8D8D8;
}

div.table table tbody tr {
	border-bottom: 1px solid #D8D8D8;
}

div.table table tr p {
	padding: 4px;
	margin: 0;
}

div.table table tbody tr:nth-of-type(even) {
	background-color: #f0f0f0;
}

div.table table thead td {
	padding: 4px;
	margin: 0;
}

div.table-title {
	font-style: italic;
	margin-bottom: 10px;
}

/* Footnotes
------------------------------------------------ */

.footnotes {
	margin-top: 30px;
}

.footnotes hr {
	display: none;
}

.footnotes .footnote a {
	display: inline-block;
	margin-right: 10px;
}

/* Footer
------------------------------------------------ */

footer {
	display: none;
}

/* Comments
------------------------------------------------ */

.comments {
	margin: 0 auto;
	width: 600px;
	padding: 0px 80px 20px 80px;
	border-right: 1px dashed #D8D8D8;
	border-left: 1px dashed #D8D8D8;
}

form#new_comment input[type="submit"] {
	background-color: #333;
	color: #FFF;
	border: none;
	padding: 8px 15px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-family: Verdana;
	font-size: 11px;
	margin-top: 10px;
}

#comment-form textarea {
	width: 535px;
	resize: none;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	border: 1px dashed #CCC;
	padding: 10px;
}

/* Nellies custom stuff */

.sidebar.coderunner1 .button1 {
border: 1px solid red;
width: 300px;
background-color: #FFE4E1;
opacity: .2;
transition-property: opacity;
transition-duration: 1s;
transition-timing-function: ease;
transition-delay: 0s;
-moz-transition-property: opacity; /* Firefox 4 */
-moz-transition-duration: 1s;
-moz-transition-timing-function: ease;
-moz-transition-delay: 0s;
-webkit-transition-property: opacity; /* Safari and Chrome */
-webkit-transition-duration: 1s;
-webkit-transition-timing-function: ease;
-webkit-transition-delay: 0s;
-o-transition-property: opacity; /* Opera */
-o-transition-duration: 1s;
-o-transition-timing-function: ease;
-o-transition-delay: 0s;
}

.sidebar.coderunner1 .button1:hover {
color: #fff;
width: 150px;
background-color: #555555;
opacity: 1;
}

.sidebar.coderunner1 a.ulink {
margin: 0;
padding: 0;
color: #555;
text-decoration: none;
}

.style1link {
font-size: .8em;
border: 1px solid #888;
background-color: #fff;
margin-bottom: 0;
padding-bottom: 0;
display: inline-block;
width: 45%;
text-align: center;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}

.style2link {
font-size: .8em;
border: 1px solid #888;
background-color: #fff;
margin-bottom: 0;
padding-bottom: 0;
display: inline-block;
width: 45%;
text-align: center;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}

.style3link {
font-size: .8em;
border: 1px solid #888;
background-color: #fff;
margin-bottom: 0;
padding-bottom: 0;
display: inline-block;
width: 45%;
text-align: center;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}

.style4link {
font-size: .8em;
border: 1px solid #888;
background-color: #fff;
margin-bottom: 0;
padding-bottom: 0;
display: inline-block;
width: 45%;
text-align: center;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}

.style5link {
font-size: .8em;
border: 1px solid #888;
background-color: #fff;
margin-bottom: 0;
padding-bottom: 0;
display: inline-block;
width: 45%;
text-align: center;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}

.style6link {
font-size: .8em;
border: 1px solid #888;
background-color: #fff;
margin-bottom: 0;
padding-bottom: 0;
display: inline-block;
width: 45%;
text-align: center;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}

.style7link {
font-size: .8em;
border: 1px solid #888;
background-color: #fff;
margin-bottom: 0;
padding-bottom: 0;
display: inline-block;
width: 45%;
text-align: center;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}

.style8link {
font-size: .8em;
border: 1px solid #888;
background-color: #fff;
margin-bottom: 0;
padding-bottom: 0;
display: inline-block;
width: 45%;
text-align: center;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}

.reset {
font-size: .8em;
border: 1px solid #888;
background-color: #FFF8DC;
margin-bottom: 0;
padding-bottom: 0;
display: inline-block;
width: 91%;
text-align: center;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}

.reset a.ulink {
width: 100%;
}

div.note {
background-color: transparent;
height: 50px;
overflow: hidden;
border: 0px solid #BFBFBF;
padding-left: 100px;
margin: 0 -200px 0px 0;
transition-property: height; 
transition-duration: 1s;
-moz-transition-property:height; /* Firefox 4 */
-moz-transition-duration: 1s;
-webkit-transition-property: height; /* Safari and Chrome */
-webkit-transition-duration: 1s;
-o-transition-property: height; /* Opera */
-o-transition-duration: 1s;
}

div.note:hover {
height: auto;
}

.note h3.title {
font-size: .9em;
text-align: right;
padding: 10px;
margin-bottom: 0;
border: 0px;
background-color: #EDEDED;
}

.note pre {
	margin-left: -15px;
	margin-right: -15px;
	padding: 15px;
	background-color: #fff;
	color: #000;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin-bottom: 20px;
	border: 1px solid #999;
	overflow-x: scroll;
}

/* chart */

div.sidebar.chart {
}

div.sidebar.chart li {
list-style-type: none;
}

div.sidebar.chart > div.itemizedlist {
width: 480px;
height: 480px;
border: 1px solid black;
overflow: hidden;
/*-webkit-border-radius: 250px;
-moz-border-radius: 250px;
border-radius: 250px;*/
}

div.sidebar.chart > div.itemizedlist > ul > li:first-of-type {
font-size: .7em;
display: block;
border: 1px solid black;
padding: 10px;
float: right;
position: relative;
top: 0px;
width: 150px;
height: 150px;
transition-property: height,width,font-size; 
transition-duration: 1s;
-moz-transition-property:height,width,font-size; /* Firefox 4 */
-moz-transition-duration: 1s;
-webkit-transition-property: height,width,font-size; /* Safari and Chrome */
-webkit-transition-duration: 1s;
-o-transition-property: height,width,font-size; /* Opera */
-o-transition-duration: 1s;
}

div.sidebar.chart > div.itemizedlist > ul > li:first-of-type:hover {
height: 300px;
width: 300px;
font-size: 1.5em;
}

div.sidebar.chart > div.itemizedlist > ul > li:first-of-type > div.itemizedlist > 
ul > li {
font-size: .7em;
text-align: center;
padding-top: 10px;
padding-left: 10px;
padding-bottom: 10px;
padding-right: 10px;
width: 60px;
height: 60px;
display: block;
border: 1px solid black;
position: relative;
top: 0px;
transition-property: height,width,padding-top,font-size; 
transition-duration: 1s;
-moz-transition-property:height,width,padding-top,font-size; /* Firefox 4 */
-moz-transition-duration: 1s;
-webkit-transition-property: height,width,padding-top,font-size; /* Safari and Chrome */
-webkit-transition-duration: 1s;
-o-transition-property: height,width,padding-top,font-size; /* Opera */
-o-transition-duration: 1s;
}

div.sidebar.chart > div.itemizedlist > ul > li:first-of-type > div.itemizedlist > 
ul > li:hover {
height: 200px;
width: 200px;
font-size: 1.5em;
padding-top: 80px;
}

div.sidebar.chart > div.itemizedlist > ul > li:nth-of-type(2) {
background-color: #fff;
font-size: .7em;
padding: 10px;
float: left;
width: 300px;
height: 300px;
display: block;
border: 1px solid black;
position: relative;
top: 0px;
left: -50px;
transition-property: height,width,font-size,top; 
transition-duration: 1s;
-moz-transition-property:height,width,font-size,top; /* Firefox 4 */
-moz-transition-duration: 1s;
-webkit-transition-property: height,width,font-size,top; /* Safari and Chrome */
-webkit-transition-duration: 1s;
-o-transition-property: height,width,font-size,top; /* Opera */
-o-transition-duration: 1s;
}

div.sidebar.chart > div.itemizedlist > ul > li:nth-of-type(2):hover {
font-size: 1.5em;
width: 400px;
height: 400px;
top: -100px;
}

div.sidebar.chart > div.itemizedlist > ul > li:nth-of-type(2) > div.itemizedlist > 
ul > li.listitem:first-of-type {
background-color: #fff;
font-size: .7em;
padding: 10px;
float: left;
width: 120px;
height: 120px;
display: block;
border: 1px solid black;
position: relative;
top: -10px;
left: -60px;
z-index: 1;
transition-property: height,width,font-size,z-index; 
transition-duration: 1s;
-moz-transition-property:height,width,font-size,z-index; /* Firefox 4 */
-moz-transition-duration: 1s;
-webkit-transition-property: height,width,font-size,z-index; /* Safari and Chrome */
-webkit-transition-duration: 1s;
-o-transition-property: height,width,font-size,z-index; /* Opera */
-o-transition-duration: 1s;
}

div.sidebar.chart > div.itemizedlist > ul > li:nth-of-type(2) > div.itemizedlist > 
ul > li.listitem:first-of-type:hover {
font-size: 1.5em;
width: 300px;
height: 300px;
z-index: 100;
}

div.sidebar.chart > div.itemizedlist > ul > 
li:nth-of-type(2) > div.itemizedlist > ul > 
li.listitem:first-of-type li.listitem:first-of-type {
font-size: .7em;
padding-top: 10px;
padding-left: 10px;
padding-bottom: 10px;
padding-right: 10px;
display: block;
position: absolute;
top: 30%;
left: 10px;
border: 1px solid black;
width: 50px;
height: 50px;
transition-property: height,width,padding-top,font-size; 
transition-duration: 1s;
-moz-transition-property:height,width,padding-top,font-size; /* Firefox 4 */
-moz-transition-duration: 1s;
-webkit-transition-property: height,width,padding-top,font-size; /* Safari and Chrome */
-webkit-transition-duration: 1s;
-o-transition-property: height,width,padding-top,font-size; /* Opera */
-o-transition-duration: 1s;
}

div.sidebar.chart > div.itemizedlist > ul > 
li:nth-of-type(2) > div.itemizedlist > ul > 
li.listitem:first-of-type li.listitem:first-of-type:hover {
height: 100px;
width: 100px;
font-size: 1.5em;
padding-top: 40px;
}

div.sidebar.chart > div.itemizedlist > ul > 
li:nth-of-type(2) > div.itemizedlist > ul > 
li.listitem:first-of-type li.listitem:nth-of-type(2) {
background-color: #fff;
font-size: .7em;
padding-top: 10px;
padding-left: 10px;
padding-bottom: 10px;
padding-right: 10px;
display: block;
position: absolute;
top: 10px;
right: 5px;
border: 1px solid black;
width: 50px;
height: 50px;
transition-property: height,width,padding-top,font-size; 
transition-duration: 1s;
-moz-transition-property:height,width,padding-top,font-size; /* Firefox 4 */
-moz-transition-duration: 1s;
-webkit-transition-property: height,width,padding-top,font-size; /* Safari and Chrome */
-webkit-transition-duration: 1s;
-o-transition-property: height,width,padding-top,font-size; /* Opera */
-o-transition-duration: 1s;
}

div.sidebar.chart > div.itemizedlist > ul > 
li:nth-of-type(2) > div.itemizedlist > ul > 
li.listitem:first-of-type li.listitem:nth-of-type(2):hover {
height: 100px;
width: 100px;
font-size: 1.5em;
padding-top: 40px;
}

div.sidebar.chart > div.itemizedlist > ul > li:nth-of-type(2) > div.itemizedlist > 
ul > li.listitem:nth-of-type(2) {
background-color: #fff;
font-size: .7em;
padding: 10px;
float: right;
width: 120px;
height: 120px;
display: block;
border: 1px solid black;
position: absolute;
top: 20px;
right: 20px;
z-index: 2;
transition-property: height,width,font-size,z-index; 
transition-duration: 1s;
-moz-transition-property:height,width,font-size,z-index; /* Firefox 4 */
-moz-transition-duration: 1s;
-webkit-transition-property: height,width,font-size,z-index; /* Safari and Chrome */
-webkit-transition-duration: 1s;
-o-transition-property: height,width,font-size,z-index; /* Opera */
-o-transition-duration: 1s;
}

div.sidebar.chart > div.itemizedlist > ul > li:nth-of-type(2) > div.itemizedlist > 
ul > li.listitem:nth-of-type(2):hover {
font-size: 1.5em;
width: 300px;
height: 300px;
z-index: 100;
}

div.sidebar.chart > div.itemizedlist > ul > 
li:nth-of-type(2) > div.itemizedlist > 
ul > li.listitem:nth-of-type(2) li.listitem {
background-color: #fff;
font-size: .7em;
padding-top: 10px;
padding-left: 10px;
padding-bottom: 10px;
padding-right: 10px;
display: block;
position: absolute;
bottom: 20%;
left: 20px;
border: 1px solid black;
width: 50px;
height: 50px;
transition-property: height,width,padding-top,font-size; 
transition-duration: 1s;
-moz-transition-property:height,width,padding-top,font-size; /* Firefox 4 */
-moz-transition-duration: 1s;
-webkit-transition-property: height,width,padding-top,font-size; /* Safari and Chrome */
-webkit-transition-duration: 1s;
-o-transition-property: height,width,padding-top,font-size; /* Opera */
-o-transition-duration: 1s;
}

div.sidebar.chart > div.itemizedlist > ul > 
li:nth-of-type(2) > div.itemizedlist > 
ul > li.listitem:nth-of-type(2) li.listitem:hover {
height: 100px;
width: 100px;
font-size: 1.5em;
padding-top: 40px;
}

div.sidebar.chart > div.itemizedlist > ul > li:nth-of-type(2) > div.itemizedlist > 
ul > li.listitem:nth-of-type(3) {
background-color: #fff;
font-size: .7em;
padding: 10px;
float: left;
width: 120px;
height: 120px;
display: block;
border: 1px solid black;
position: absolute;
bottom: 0px;
left: 50px;
z-index: 3;
transition-property: height,width,font-size,z-index; 
transition-duration: 1s;
-moz-transition-property:height,width,font-size,z-index; /* Firefox 4 */
-moz-transition-duration: 1s;
-webkit-transition-property: height,width,font-size,z-index; /* Safari and Chrome */
-webkit-transition-duration: 1s;
-o-transition-property: height,width,font-size,z-index; /* Opera */
-o-transition-duration: 1s;
}

div.sidebar.chart > div.itemizedlist > ul > 
li:nth-of-type(2) > div.itemizedlist > 
ul > li.listitem:nth-of-type(3):hover {
font-size: 1.5em;
width: 300px;
height: 300px;
z-index: 100;
}

div.sidebar.chart > div.itemizedlist > ul > 
li:nth-of-type(2) > div.itemizedlist > 
ul > li.listitem:nth-of-type(3) li.listitem {
background-color: #fff;
font-size: .7em;
padding-top: 10px;
padding-left: 10px;
padding-bottom: 10px;
padding-right: 10px;
display: block;
position: absolute;
bottom: 20px;
right: 5px;
border: 1px solid black;
width: 50px;
height: 50px;
transition-property: height,width,padding-top,font-size; 
transition-duration: 1s;
-moz-transition-property:height,width,padding-top,font-size; /* Firefox 4 */
-moz-transition-duration: 1s;
-webkit-transition-property: height,width,padding-top,font-size; /* Safari and Chrome */
-webkit-transition-duration: 1s;
-o-transition-property: height,width,padding-top,font-size; /* Opera */
-o-transition-duration: 1s;
}

div.sidebar.chart > div.itemizedlist > ul > 
li:nth-of-type(2) > div.itemizedlist > 
ul > li.listitem:nth-of-type(3) li.listitem:hover {
height: 100px;
width: 100px;
font-size: 1.5em;
padding-top: 40px;
}

/* Processing JS Live Coding
------------------------------------------------ */

.processingjslive {
	position: relative;
	margin-top: 40px;
	margin-bottom: 40px;
}

.processingjslive textarea {
	font-family: "Consolas", "Monaco", 'Liberation Mono', Courier, monospace;
	display: block;
	resize: vertical;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	width: 100%;
	padding: 10px;
	height: 150px;
	border: 1px dashed #CCC;
	font-size: 12px;
	margin-bottom: 10px;
}

.processingjslive canvas {
	display: block;
	margin: 0 auto;
}

.processingjslive .title {
	margin-top: 0px;
	font-size: 15px;
}

.processingjslive a.processing-runit {
	background-color: #333;
	color: #FFF;
	display: inline-block;
	position: absolute;
	top: 10px;
	right: 20px;
	display: block;
	padding: 5px 15px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-decoration: none;
	font-size: 12px;
}