@charset "UTF-8";

/* admonitions */
 
div.tip, div.note, div.warning, div.caution, div.important {
  margin: 10px 0 !important;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 90%;
  padding: 10px 8px 20px 8px !important;
  page-break-inside: avoid;
}

div.tip, div.note {
  border: 1px solid #6cafd0;
  background-color: transparent;
}

div.warning, div.caution {
  border: 1px solid #8e0012;
  background-color: #fce5e8;
}

div.important {
  background-color: #FFF68F;
  border: 1px solid #615E3F;
}

div.tip h3, div.note h3, div.warning h3, div.caution h3, div.important h3 {
  font: bold 90%;
  font-family: "Free Sans Bold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  margin: 4px 0 6px !important;
  color: #000;
}