@charset "UTF-8";

/* box model reset */

* { 
-moz-box-sizing: border-box; 
-webkit-box-sizing: border-box; 
box-sizing: border-box; 
}

@font-face {
  font-family: "heading";
  src: url("http://orm-social-book-dev.s3.amazonaws.com/templates/rune/Gotham-Book.ttf");
}

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: .9em;
	color: #191919;
}

header {
	height: 0px;
	overflow: hidden;
}

/* Fonts
------------------------------------------------ */

h1 {
	font-family: "heading", Georgia, sans-serif;
	font-size: 2em;
	line-height: 46px;
	margin-bottom: 20px;
	letter-spacing: -1px;
	padding-bottom: 5px;
	border-bottom: 1px dashed #BFBFBF;
	color: #333;
} 

.book h1 {
	font-family: "heading", Georgia, sans-serif;
	line-height: 46px;
	margin-bottom: 20px;
	letter-spacing: -1px;
	padding-bottom: 10px;
border-bottom: 4px solid #CD2626;
font-size: 3em;
color: #00B2EE;
}

section h1 {
	font-family: "heading", Georgia, sans-serif;
	line-height: 46px;
	margin-bottom: 20px;
	letter-spacing: -1px;
	padding-bottom: 10px;
border-bottom: 4px solid #CD2626;
font-size: 3em;
color: #00B2EE;
} 

h2 {
	font-family: "heading", Georgia, sans-serif;
	font-size: 1.5em;
	margin-top: 30px;
	margin-bottom: 30px;
	letter-spacing: -1px;
	color: #fff;
	background-color: #CD2626;
	padding: 10px 5px 10px 5px;
}

h3 {
	font-family: "heading", Georgia, sans-serif;
	font-size: 1.5em;
	margin-top: 30px;
	margin-bottom: 10px;
}

p {
	line-height: 20px;
	margin-bottom: 20px;
}

a {
	color: #00B2EE;
	text-decoration: none;
}

/* Title Page
------------------------------------------------ */

.book .titlepage h1 {
	margin-bottom: 30px;
}

.book .titlepage .author h3, .titlepage .othercredit h3 {
	margin-top: 0px;
}

.book .titlepage .othercredit h3 {
	font-size: 13px;
	font-family: Verdana, Helvetica, sans-serif;
}

.book .titlepage .copyright {
	cursor: pointer;
}

.book .titlepage .legalnotice, .titlepage .revhistory {
	display: none;
}

.book .titlepage .legalnotice p {
	font-size: 11px;
	margin-bottom: 15px;
}

.book .titlepage hr {
	display: none;
}

.book .titlepage .revhistory {
	font-size: 10px;
	color: #999;
	line-height: 16px;
}

.book .toc {
	padding-top: 0px;
}

.book .toc-title {
	font-family: "heading", Georgia, sans-serif;
	font-size: 18px;
	margin-bottom: 20px;
	color: #CD2626;
	/*padding-bottom: 5px;
	border-bottom: 2px solid #CD2626;*/
}

/* Blockquotes
------------------------------------------------ */

.preface div.blockquote {
	margin-top: 40px;
}

div.blockquote {
	margin: 0 50px 0 50px;
}

.blockquote tr td:first-child {
	display: none;
}

table.blockquote tr:last-of-type {
	text-align: right;
}

.blockquote p {
	font-style: italic;
	margin-bottom: 10px;
}

.blockquote .attribution {
}

/* Images
------------------------------------------------ */

img {
	max-width: 100%;
}

.figure {
	margin-bottom: 20px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	border: 1px dashed #D8D8D8;
	margin-left: -15px;
	margin-right: -15px;
	padding: 15px 50px 5px 15px;
}

.figure-title {
	font-size: 12px;
	font-style: italic;
	letter-spacing: 0.5px;
	padding: 6px 0px 0px 0px;
	line-height: 20px;
}

/* Lists
------------------------------------------------ */

ol, ul {
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 20px;
}

ol li, ul li {
	margin-bottom: 8px;
	line-height: 18px;
}

ol {
	list-style: decimal;
}

ul {
	list-style-image: url('images/bullet.png');
}

ol ol, ul ul {
	margin-top: 10px;
}

div.variablelist dt {
	font-style: italic;
	margin-bottom: 2px;
}

div.variablelist dd {
	margin-bottom: 6px;
}

/* Pre
------------------------------------------------ */

pre {
	margin-left: -15px;
	margin-right: -15px;
	padding: 15px;
	background-color: #333;
	color: #FFF;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin-bottom: 20px;
	overflow-x: scroll;
}

/* Example Titles
------------------------------------------------ */

div.example-title {
	font-style: italic;
}

/* Basic Boxes
------------------------------------------------ */

div.tip, div.note, div.warning, div.caution, div.important {
  margin: 10px 0 !important;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 90%;
  padding: 10px 8px 5px 8px !important;
  page-break-inside: avoid;
}

div.tip, div.note {
  border: 2px solid #6cafd0;
  background-color: transparent;
}

div.warning, div.caution {
  border: 1px solid #8e0012;
  background-color: #fce5e8;
}

div.important {
  background-color: #FFF68F;
  border: 1px solid #615E3F;
}

div.tip h3, div.note h3, div.warning h3, div.caution h3, div.important h3 {
  font: bold 90%;
  font-family: "Free Sans Bold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  margin: 4px 0 6px !important;
  color: #000;
}

/* Tip Box
------------------------------------------------ */

.tip {
	/* Add icons or something in the top left corner instead of color */
/*	background-color: #f3f4f4;*/
}

/* Note Box
------------------------------------------------ */

.note {
/*	background-color: #faf7da;*/
}

/* Sidebar Box
------------------------------------------------ */

.sidebar .sidebar-title {
	margin-bottom: 10px;
}

/* Tables
------------------------------------------------ */

div.table table thead tr {
	border-bottom: 2px solid #D8D8D8;
}

div.table table tbody tr {
	border-bottom: 1px solid #D8D8D8;
}

div.table table tr p {
	padding: 4px;
	margin: 0;
}

div.table table tbody tr:nth-of-type(even) {
	background-color: #f0f0f0;
}

div.table table thead td {
	padding: 4px;
	margin: 0;
}

div.table-title {
	font-style: italic;
	margin-bottom: 10px;
}

/* Footnotes
------------------------------------------------ */

.footnotes {
	margin-top: 30px;
}

.footnotes hr {
	display: none;
}

.footnotes .footnote a {
	display: inline-block;
	margin-right: 10px;
}

/* Footer
------------------------------------------------ */

footer {
	display: none;
}

/* Comments
------------------------------------------------ */

.comments {
	margin: 0 auto;
	width: 600px;
	padding: 0px 80px 20px 80px;
	border-right: 1px dashed #D8D8D8;
	border-left: 1px dashed #D8D8D8;
}

form#new_comment input[type="submit"] {
	background-color: #333;
	color: #FFF;
	border: none;
	padding: 8px 15px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-family: Verdana;
	font-size: 11px;
	margin-top: 10px;
}

#comment-form textarea {
	width: 535px;
	resize: none;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	border: 1px dashed #CCC;
	padding: 10px;
}

/* Processing JS Live Coding
------------------------------------------------ */

.processingjslive {
	position: relative;
	margin-top: 40px;
	margin-bottom: 40px;
}

.processingjslive textarea {
	font-family: "Consolas", "Monaco", 'Liberation Mono', Courier, monospace;
	display: block;
	resize: vertical;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	width: 100%;
	padding: 10px;
	height: 150px;
	border: 1px dashed #CCC;
	font-size: 12px;
	margin-bottom: 10px;
}

.processingjslive canvas {
	display: block;
	margin: 0 auto;
}

.processingjslive .title {
	margin-top: 0px;
	font-size: 15px;
}

.processingjslive a.processing-runit {
	background-color: #333;
	color: #FFF;
	display: inline-block;
	position: absolute;
	top: 10px;
	right: 20px;
	display: block;
	padding: 5px 15px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-decoration: none;
	font-size: 12px;
	}
	
@media screen and (min-width: 900px) {

/* Header
------------------------------------------------ */

/* Hide chapter name in table */

/*header {
}

header table tr:first-child {
background-color: #C1F0F6;
width: 100%;
padding: 5px;
margin: 0;
border-bottom: 1px solid #B0E0E6;
position: fixed;
top: 40px;
left: -1px;
z-index: 8888;
}

header table tr:first-child td {
	color: #999;
	font-size: .8em;
}

header table tr:first-child td:after {
	color: #000;
	font-size: .8em;
	border-bottom: 2px solid #CD2626;
}

header hr {
	display: none;
}*/

header table a {
	position: fixed;
	top: 50px;
	display: block;
	background-color: #00B2EE;
	padding: 7px 15px;
	color: #FFF;
	/*-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;*/
	text-decoration: none;
	font-size: 12px;
}

header table a[accesskey="p"] {
	-webkit-border-top-left-radius: 50px;
	-moz-border-top-left-radius: 50px;
	border-top-left-radius: 50px;
	-webkit-border-bottom-left-radius: 50px;
	-moz-border-bottom-left-radius: 50px;
	border-bottom-left-radius: 50px;
	padding-top: 44px;
	height: 100px;
	top: 50%;
	left: 10px;
}

header table a[accesskey="n"] {
	-webkit-border-top-right-radius: 50px;
	-moz-border-top-right-radius: 50px;
	border-top-right-radius: 50px;
	-webkit-border-bottom-right-radius: 50px;
	-moz-border-bottom-right-radius: 50px;
	border-bottom-right-radius: 50px;
	padding-top: 44px;
	height: 100px;
	top: 50%;
	right: 10px;
}

/* Main Sections
------------------------------------------------ */

section, .book .titlepage, .book .toc {
	position: relative;
	margin: 0 auto;
	width: 750px;
	padding: 0px 80px 20px 80px;
	margin-top: 40px;
	background-color: #FFF;
	border-right: 0px dashed #CD2626;
	border-left: 0px dashed #CD2626;
}

/* Sidebars
------------------------------------------------ */

div.sidebar {
  margin: 10px 0 !important;
  border-top: 2px solid #CD2626;
  border-bottom: 0px solid #CD2626;
  background-color: transparent;
  font-size: 90%;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 70px;
  overflow: hidden;
  height: 34px;
  transition-property: height,overflow,border-bottom,padding-bottom; 
transition-duration: 0s;
-moz-transition-property: height,overflow,border-bottom,padding-bottom; /* Firefox 4 */
-moz-transition-duration: 0s;
-webkit-transition-property: height,overflow,border-bottom,padding-bottom; /* Safari and Chrome */
-webkit-transition-duration: 0s;
-o-transition-property: height,overflow,border-bottom,padding-bottom; /* Opera */
-o-transition-duration: 0s;
}

div.sidebar:hover {
overflow: visible;
height: auto;
border-bottom: 2px solid #CD2626;
padding-bottom: 15px;
}

div.sidebar-title {
/*background-color: #CD2626;*/
background-image: url('https://s3.amazonaws.com/orm-social-book-dev/templates/maker4c/images/arrow.png');
background-position: top right;
background-repeat: no-repeat;
background-size: auto 30px;
color: #CD2626;
font-size: 14px;
text-transform: uppercase;
text-align: right;
padding-top: 7px;
padding-right: 40px;
padding-bottom: 9px;
width: 100%;
}

div.sidebar-title:before {
content: "Sidebar: ";
}

}

@media screen and (max-width: 699px) {

/* Header
------------------------------------------------ */

/* Hide chapter name in table */

header {
background-color: #CD2626;
border-bottom: 2px solid #CD2626;
border-right: 1px solid #CD2626;
width: 100%;
position: fixed;
top: 40px;
left: -1px;
z-index: 9999;
}

header table tr:first-child {
padding: 5px;
margin: 0;

}

header table tr:first-child td {
	color: #fff;
	font-size: .8em;
}

header table tr:first-child td:after {
	color: #000;
	font-size: .8em;
	border-bottom: 2px solid #CD2626;
}

header hr {
	display: none;
}

header table a {
	color: #FFF;
	text-decoration: none;
	font-size: .8em;
}

header table a[accesskey="p"] {
border-right: 1px solid #fff;
}

header table a[accesskey="n"] {
border-left: 1px solid #fff;
}

/* Main Sections
------------------------------------------------ */

section, .book .titlepage, .book .toc {
	position: relative;
	margin: 0 auto;
	width: auto;
	padding: 0px 10px 20px 10px;
	margin-top: 40px;
	background-color: #FFF;
	border-right: 0px dashed #CD2626;
	border-left: 0px dashed #CD2626;
}

}


@media screen and (max-device-width: 480px) {

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 2em;
	color: #191919;
}

p {
	line-height: 120%;
	margin-bottom: 20px;
}

/* Header
------------------------------------------------ */

/* Hide chapter name in table */

header {
background-color: #CD2626;
border-bottom: 2px solid #CD2626;
border-right: 1px solid #CD2626;
width: 100%;
position: fixed;
top: 40px;
left: -1px;
z-index: 8888;
}

header table tr:first-child {
padding: 5px;
margin: 0;

}

header table tr:first-child td {
	color: #fff;
	font-size: .8em;
}

header table tr:first-child td:after {
	color: #000;
	font-size: .8em;
	border-bottom: 2px solid #CD2626;
}

header hr {
	display: none;
}

header table a {
	color: #FFF;
	text-decoration: none;
	font-size: .8em;
}

header table a[accesskey="p"] {
border-right: 1px solid #fff;
	-webkit-border-top-left-radius: 0px;
	-moz-border-top-left-radius: 0px;
	border-top-left-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-bottom-left-radius: 0px;
	border-bottom-left-radius: 0px;
	padding-top: 0px;
	height: auto;
	top: 0;
	left: 0;
}

header table a[accesskey="n"] {
border-left: 1px solid #fff;
	-webkit-border-top-right-radius: 0px;
	-moz-border-top-right-radius: 0px;
	border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-bottom-right-radius: 0px;
	border-bottom-right-radius: 0px;
	padding-top: 0px;
	height: auto;
	top: 0;
	right: 0;
}

/* Main Sections
------------------------------------------------ */

section, .book .titlepage, .book .toc {
	position: relative;
	margin: 0 auto;
	width: auto;
	padding: 0px 10px 20px 10px;
	margin-top: 40px;
	background-color: #FFF;
	border-right: 0px dashed #CD2626;
	border-left: 0px dashed #CD2626;
}

}