@charset "UTF-8";

/* headings */

h1, h2, h3, h4 { 
  -webkit-hyphens: none;
  hyphens: none;
  adobe-hyphenate: none;
	color: #2d2d2d;
	font-family: Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 20px !important;
}

h2 { 
  font-size: 1.3em;
  font-weight: bold;
  margin: 24px 0 8px 0 !important;
}

h2.chaptertitle {
  font-size: 2.2em;
}

h3 {
  font-size: 1.1em;
  font-weight: bold;
  margin: 10px 0 8px 0 !important;
}

h4 {
  font-size: bold;
  font-weight: 1em;
  margin: 9px 0 !important;
}

hr {
	color: #9C9C9C;
	background-color: #9C9C9C;
	height: 2px;
	margin: 20px 0px;
	border: none;
}

div.chapter > div.titlepage:first-child h1.title,
div.preface > div.titlepage:first-child h1.title,
div.appendix > div.titlepage:first-child h1.title { /* larger chapter title */
  font-size: 2em;
  line-height: 1;
  margin-bottom: 15px;
}