@charset "UTF-8";

/* lists */

dt {
  padding-top: 10px ;
  padding-bottom: 0 ;
}

dd {
  margin-left: 1.5em ;
}


ol {
  list-style-type: decimal;
}


ol ol {
  list-style-type: lower-alpha;
}

ol ol ol {
  list-style-type: lower-roman;
}

ul { 
  list-style-type: square;
}

ul ul { 
  list-style-type: none;
  padding-left: 0 ;
  margin-left: 0 ;
}

ul ul li p:before { 
  content: "\2014 \0020";
}

ul ul ul li p:before { 
  content: "";
}

ul ul ul { 
  list-style-type: square;
  margin-left: 20px ;
  padding-left: 30px ;
}

div.orderedlistalpha {
  list-style-type: upper-alpha;
}

table.simplelist {
  margin-left: 20px ;
  margin-bottom: 10px;
}

table.simplelist td {
  border: none;
  font-size: 90%;
}

table.simplelist tr {
  border-bottom: none;
}

table.simplelist tr:nth-of-type(even) {
  background-color: transparent;
}

div.calloutlist p:first-child {
 margin-top: -25px ;
}

div.calloutlist dd {
  padding-left: 40px ;
}

div.calloutlist img {
  padding: 0;
}

a.co img {
  padding: 0;
}


/* steps */

ol.orderedlist:first-of-type:before {
content: url('images/steps.png');
height: 50px;
}

ol.orderedlist:first-of-type {
margin-top: 50px;
padding-top: 15px;
}

ol.orderedlist {
text-indent: 0;
padding: 0;
margin: 0;
}

ol.orderedlist > li.listitem {
color: #fff;
list-style-position: inside;
text-indent: 0;
padding: 0;
margin: 40px 0 0 0;
}

ol.orderedlist > li.listitem:first-of-type {
margin: 0 0 0 0;
}

ol.orderedlist > li.listitem > p:first-of-type {
background-color: #CD2626;
color: #fff;
padding: 10px;
}

ol.orderedlist > li.listitem > p {
color: #000;
font-size: 1.1em;
}

/* sub steps */

div.orderedlist div.itemizedlist {
color: #000;
}

div.orderedlist div.itemizedlist ul {
text-indent: 0;
padding: 0;
margin: 0 0 0 0;
}

div.orderedlist div.itemizedlist ul li {
text-indent: 0;
padding: 0;
margin: 0 0 0 0;
}

div.orderedlist div.itemizedlist li {
list-style-type: none;
list-style-position: outside;
text-indent: 0;
padding: 0;
margin: 0 0 0 0;
}

div.itemizedlist ul li p {
font-weight: normal;
}

.sidebar ol, .sidebar ul {
  margin-top: 8px ;
  margin-bottom: 8px ;
  margin-left: 20px ;
  padding-left: 25px ;
}