@charset "UTF-8";

/* sidebars */

div.sidebar {

}

div.sidebar-title {
  color: #00B2EE;
}

div.sidebar ol {
  margin-left: 15px;
}

div.sidebar div.tip, div.sidebar div.note, div.sidebar div.warning,
div.sidebar div.caution, div.sidebar div.important {
  margin: 10px 12.5% !important;
  font-size: 90%;
  padding: 10px 5px !important;
  width: 75%;
}

div.sidebar div.tip, div.sidebar div.note {
  background-color: #f1f6fc;
  border: none;
}

div.sidebar div.warning, div.sidebar div.caution {
  background-color: #fce5e8;
}

div.sidebar div.important {
  background-color: #FBEC5D;
}

div.sidebar div.figure {
  border: none;
}

/* Equipment lists */

div.sidebar[title="Tools"]:first-of-type:before {
content: url('images/equipment.png');
border-bottom: 10px solid #CD2626;
margin-bottom: 20px;
width: 100%;
display: block;
}

div.sidebar[title="Tools"]:first-of-type {
margin-top: 50px;
padding-top: 15px;
}

div.sidebar p {
color: #000;
}