@font-face {
  font-family: "heading";
  src: url("http://orm-social-book-dev.s3.amazonaws.com/templates/video/MyriadPro-Light.otf");
}

section.chapter {
  margin: 0 10%;
}

h1 {
  font-family: heading, Verdana, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 22pt;
  margin-top: 0;
  margin-bottom: 15px;
  color: #333;
}

h3 {
  font-family: heading, Verdana, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 16pt;
  margin-top: 0;
  margin-bottom: 5px;
  color: #333;
}

div.mediaobject video, div.mediaobject object {
  width: 100%;
}

p { 
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #fff;
  background-color: #333;
  padding: 10px;
  border-radius: 5px;
}

header table tr:first-child {
 display: none;
}

header hr {
  display: none;
}


header table a {
  position: fixed;
  display: block;
  background-color: white;
  padding: 7px 15px;
  color: #333;
  text-decoration: none;
  font-size: 10pt;
  font-family: heading, Verdana, Arial, Helvetica, sans-serif;
}

header table a[accesskey="p"] {
  top: 50%;
  left: 15px;
}

header table a[accesskey="p"]:hover:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  -webkit-transform: rotate(45deg);
  top: -12px;
  left: 10px;
  box-shadow: -4px 4px 5px rgba(0, 0, 0, 0.25);
}

header table a[accesskey="n"] {
  top: 50%;
  right: 15px;
}

header table a[accesskey="n"]:hover:after{
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  -webkit-transform: rotate(45deg);
  top: -12px;
  right: 10px;
  box-shadow: 4px -4px 5px rgba(0, 0, 0, 0.25);
}

/* Comments
--------------------------------------------------------- */

/* First comment should have border-top */
*:not(.comment) + .comment  {
	border-top: 1px dashed #BFBFBF
}

.comment {
	background-color: #f0f4fd;
	padding: 10px 15px 10px 15px;
	margin-left: -80px;
	margin-right: -80px;
	border-bottom: 1px dashed #BFBFBF;
}

.comment .user-image img {
	border: 1px solid #dde1e9;
}

*[id] > .comment-bubble {
	display: none;
	background-color: #333;
	position: absolute;
	text-align: center;
	padding: 5px 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	z-index: 10000;
}

*[id] > .comment-bubble a {
	color: #FFF;
	text-decoration: none;
}

*[id]:hover > .comment-bubble {
	display: block;
}

.new-comment textarea {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	padding: 5px;
	border: 1px solid #D8D8D8;
	width: 100%;
	height: 60px;
	font-family: Helvetica;
	font-size: 13px;
}

.new-comment a.submit-form,
.new-comment a.cancel-form {
	display: inline-block;
	border: none;
	padding: 5px 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #9CB0C8;
	margin-top: 5px;
	text-decoration: none;
	font-size: 13px;
	font-family: Verdana;
	color: #FFF;
}

footer { display: none; }

.informalfigure {
  z-index: 100;
  position: relative;
}

p#the_lights {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}

ul#switches {
  cursor: pointer;
  position: relative;
  z-index: 1000;
  float: right;
  margin: 0 0 5px 0;
  list-style-type: none;
  background-color: #333;
  border-radius: 5px;
  padding: 0;
}

ul#switches li {
  display: inline-block;
  padding: 0 0 3px 0;
}

ul#switches p {
  display: inline;
  background-color: #333;
  color: #fff;
  font-size: 8pt;
  padding: 0 10px 0 10px;
}

div.book h1 { text-align: center; }

div.toc-title { display: none; }

div.toc {
  margin: 0 20% 0 25%;
}

div.toc ul {
  list-style-type: none;
}

div.toc a { text-decoration: none; }

div.toc a:visited { color: #333; }

div.toc li {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 16pt;
  text-align: left;
  color: #333;
}

div.toc li {
  padding: 5px;
  border-top: #333 dashed 1px;
  border-left: #333 dashed 1px;
  border-right: #333 dashed 1px;
}

div.toc li:last-of-type {
  border-bottom: #333 dashed 1px;
}
