@font-face {
  font-family: "heading";
  src: url("http://orm-social-book-dev.s3.amazonaws.com/templates/video/MyriadPro-Light.otf");
}

div.navheader {
  display: none;
}

section.chapter {
  margin: 0 10% 0 10%;
}

h1 {
  font-family: heading, Verdana, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 22pt;
  margin-bottom: 15px;
  color: #333;
}

div.mediaobject video {
  width: 100%;
}

p { 
  font-family: Georgia;
  color: #fff;
  background-color: #333;
  padding: 10px;
}
