div.navheader {
  display: none;
}

section.chapter {
  margin: 0 10% 0 10%;
}

h1 {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 16pt;
  color: #333;
}

div.mediaobject video {
  width: 75%;
}
