@charset "UTF-8";

/* tables */

div.table, table {
  margin: 10px auto !important;
  max-width: 95%;
  border-collapse: collapse;
  border-spacing: 0;
}

div.table, div.informaltable {
  page-break-inside: avoid;
}

tr {
  border-bottom: 1px solid #c3c3c3;
}

tr th {
  border-bottom: #9d9d9d 2px solid !important;
  border-top: #9d9d9d 2px solid !important; 
}

tr:nth-of-type(even) {
  background-color: #f1f6fc;
}

th {
  font-family: "Free Sans Bold", sans-serif;
  color: #000;
  font-weight: bold;
}

td, th {
  padding: 0.3em;
  text-align: left;
  vertical-align: baseline;
  font-size: 80%;
}

div.informaltable table {
  margin: 10px auto !important;
}

div.informaltable table tr {
  border-bottom: none;
}

div.informaltable table tr:nth-of-type(even) {
  background-color: transparent;
}

div.informaltable td, div.informaltable th {
  border: #9d9d9d 1px solid;
}

div.table p.title {
  font-weight: normal;
  font-style: italic;
  font-family: "Free Serif", serif;
  margin: 20px 0 0 0 !important;
  text-align: center;
  padding: 0;
}

table code {
  font-size: smaller;
}