@charset "UTF-8";

/* title and copyright page */

div.book div.titlepage h1.title {
  font-size: 3em;
  font-family: "Free Sans Bold", sans-serif;
  margin: 50px 0 10px 0 !important;
  line-height: 1;
  text-align: center;
}

div.book div.titlepage h2.subtitle {
  text-align: center;
  color: #000;
  margin: 0 !important;
  font-style: italic;
  font-family: serif;
  font-size: 1.5em;
}

div.book div.titlepage div.author h3 {
  font-size: 2em;
  font-family: "Free Sans Bold", sans-serif;
  color: #8e0012;
  margin: 50px 0 !important;
  text-align: center;
}

div.book div.titlepage div.publishername {
  margin-top: 60%;
  margin-bottom: 20px;
  text-align: center;
  font-size: 1.25em;
}

div.book div.titlepage div.locations p {
  margin: 0;
  text-align: center;
}

div.book div.titlepage div.locations p.cities {
  font-size: 80%;
  text-align: center;
}

div.preface[title="Dedication"] > div.titlepage h1.title { 
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5em;
  margin-top: 50px;
  margin-bottom: 50px;
}

div.preface[title="Dedication"] p {
  font-style: italic;
  text-align: center;
}